.logo{
    height: 100px;
    width: 100px;
    border-radius: 25px;
    margin: 10px
};

.nav-item {
    padding: 2px;
    margin-left: 7px;
}

#navMenu {
    background: rgb(92,155,167);
    background: linear-gradient(180deg, rgba(92,155,167,1) 0%, rgba(31,189,214,1) 46%, rgba(23,162,184,1) 100%);
    margin-bottom: 10px;
}

.navTop{
    justify-content: space-between;
}

.logButton {
    border-radius: 10px 5px;
    border-color: rgba(92,155,167,1);
    margin-right: 18px;
}

.navmenu {

    position: fixed;
    right: 0;
    transform: translateY(75%);
    background: linear-gradient(180deg,rgba(92,155,167,1) 0%, rgba(31,189,214,1) 100% );
    z-index: 10;

}

.logdiv {
    margin-right: 20px;
}

.survol {
    cursor: pointer
}