<nav class="navbar navbar-expand-md bg-info navbar-dark" id="navMenu">
    <img class="logo" src="../../assets/logo/nervod.png"/>
    <a class="navbar-brand" ><h1>MyKin</h1><h4>Social Family</h4></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span (click)="toggleMenu()" class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navTop" id="navbarCollapse">
      <ul class="navbar-nav mr-auto"> 
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/posts">Mes Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/contact">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" routerLink="/message">Messages</a>
        </li>  
      </ul>
      <div class="logdiv">
        <!-- <button  class="logButton" type="submit" (click)="logout()" >Logout</button> -->
        <img src="../../assets/logo/logout.png" alt="icone logout" (mouseover)="this.survol=true" (mouseout)="this.survol=false" [ngClass]="{survol: survol}" (click)="logout()">
      </div>
    </div>
    <div *ngIf="toggleNav" class="navmenu">
      <app-nav-liste></app-nav-liste>
    </div>
  </nav>
  
