footer {
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    text-align: center;
    background-color: #0dcaf0 ;
}

#footerBanner {
    background: rgb(92,155,167);
    background: linear-gradient(180deg, rgba(92,155,167,1) 0%, rgba(31,189,214,1) 46%, rgba(23,162,184,1) 100%);
}