.message-prive-card {
  background-color: var(--backgroundCard);
  box-shadow: 4px 4px 20px var(--cardShadow);
  margin: 20px auto;
  padding: 16px 12px;
  width: 55%;
}

.messageArea {
  border: 1px solid lightgray;
  padding: 10px;
  margin: 10px;
}

h2 {
  margin-bottom: 12px;
  font-size: 1.5em;
}

.bodyTitre {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: rgba(224, 252, 253, 04);
  border-radius: 10px;
  padding: 5px 10px;
}

.bodyMessage {
  border-top: 1px solid lightgray;
  margin-top: 8px;
  padding: 10px 5px 5px 5px;
}

.sender {
  font-size: 1.3em;
  font-weight: 600;
}

.entete {
  display: flex;
  justify-content: space-between;
}

.deleteIcone {
  height: 35px;
}

.survol {
  cursor: pointer;
  border: 1px solid red;
  border-radius: 5px 5px;
}

@media (max-width: 599.33px) {
  h2 {
    font-size: 1em;
  }
  .sender {
    font-size: 1em;
  }
  .messageArea {
    padding: 7px;
    margin: 7px;
  }
}
@media (max-width: 499.33px) {
  h2 {
    font-size: 0.8em;
  }
  .sender {
    font-size: 0.8em;
  }
  .messageArea {
    padding: 5px;
    margin: 3px;
  }
}
