<div class="contact-card" [ngClass]="{invited: invited}">
    <!-- <h2 class="profileName">Nom de l'utilisateur</h2> -->
    <h2 class="profileName">{{ contactList.prenom }} {{ contactList.name }}</h2>
    <div class="photoButton">
        <div class="containerPhoto" *ngIf="!contactList.photoProfile">
            <img class="photoProfile photo" src="../../assets/images/profil-vide.png" alt="logo profile vide"/>
        </div>
        <!-- placeholder pour si image de profile -->
        <div class="containerPhoto" *ngIf="contactList.photoProfile">
            <img class="photoProfile" [src]="contactList.photoProfile" alt=" photo profile"/>
        </div>
        <button (click)="onInvite()">{{ buttonText }}</button>
        
    </div>
</div>
