.contact-card {
    background-color: var(--backgroundCard);
    box-shadow: 4px 4px 20px var(--cardShadow) ;
    margin: 20px 20px;
    padding: 8 px 12px;
    width: 300px;
    height: 140px;
}

.profileName {
    font-size: 1.3rem;
    margin-left: 8px;
}

.containerPhoto {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: var(--likedCardshadow);
    margin-left: 20px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.photoProfile {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    
}



.photoButton {
    display: flex;
    justify-content: space-around;
    margin-top: 0;
}

button {
    height: 45px;
    background-color:lightsteelblue;
    box-shadow: 4px 4px 20px var(--likedCardshadow);
    color:rgb(20, 54, 109);
    align-self: center;
    margin-left: 8px;
    margin-right: 8px;

}

.buttonContainer {
display: flex;
align-content: center;
justify-content: space-between;

}

.deleteIcone{
    height: 35px;
    width: 35px;
    margin-top: 3px;
    margin-right: 3px;
    
    
}

.entete {
    display: flex;
    justify-content: space-between;
}

.survol {
    cursor:pointer;
    border: 1px solid red;
    border-radius: 5px 5px;
}

@media (max-width: 630.33px) {
    .contact-card {
        width: 250px
    };
    .containerPhoto {
        height : 55px;
        width: 55px
    }
    .photoProfile {
        height: 45px;
        width: 45px;
    }

    .profileName {
        font-size: 1.1rem;
    }
    button{
        height: 20px;
        width: 22px;
        font-size: medium;
        margin-right: 20px;
        margin-top: 20px;
    }
}
@media (max-width: 450.33px) {
    .contact-card {
        width: 250px
    }
    .containerPhoto {
        height : 45px;
        width: 45px
    }
    .photoProfile {
        height: 40px;
        width: 40px;
    }
    button{
        height: 17px;
        width: 20px;
        font-size: 14px;
        margin-right: 15px;
        margin-top: 15px;
    }

    .profileName {
        font-size: 0.8rem;
    }
}