<!-- <p>friend-card works!</p> -->
<div class="contact-card">
    <!-- <h2 class="profileName">Nom de l'utilisateur</h2> -->
    <div class="entete">
        <h2  class="profileName">{{ contactList.prenom }} {{ contactList.name }}</h2>
        <img (mouseover)="this.survol=true" (mouseout)="this.survol=false" [ngClass]="{survol: survol}" (click)="deleteFriend()" class="deleteIcone" src="../../assets/logo/delete-user.png">
    </div>
    <div class="photoButton">
        <div class="containerPhoto" *ngIf="!contactList.photoProfile">
            <img class="photoProfile photo" src="../../assets/images/profil-vide.png" alt="logo profile vide"/>
        </div>
        <!-- placeholder pour si image de profile -->
        <div class="containerPhoto" *ngIf="contactList.photoProfile">
            <img class="photoProfile" [src]="contactList.photoProfile" alt=" photo profile"/>
        </div>
        <div class="buttonContainer">
            <button (click)="onSeePosts()">Voir Posts</button>
            <button (click)="onSendMessage()">Envoyer Message</button>
        </div>
        
    </div>
</div>
