.nav {
  background-color: linear-gradient(
    180deg,
    rgba(92, 155, 167, 1) 0%,
    rgba(31, 189, 214, 1) 100%
  );
  height: 260px;
  width: 140px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item-top {
  height: 40px;
  border-bottom: 1px solid ghostwhite;
}

.survol {
  cursor: pointer;
}
