<div class="title">
    <h2>Mes Amis</h2>
</div>
<div *ngIf="hasFriends$">
    <div class="listeAmis">
        <app-friend-card  *ngFor="let ami of contactList$ | async"[contactList] = "ami"></app-friend-card>
    </div>
</div>
<div *ngIf="!hasFriends$">
    <h2 class="title">Vous n'avez pas encore d'ami, invitez-en de nouveaux !</h2>
</div>
    
<!-- <p>friend-list HARDCODED works!</p>
<div class="listeAmis">
    <app-friend-card *ngFor="let singleContact of contactList"[contactList] = "singleContact"></app-friend-card>
</div> -->
