.listeOptionsContact{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 10px;

}

.listeOptionsContact li {
    margin: 10px;
}

.sectionContact {
    display: flex;
    justify-content: space-around;
}