<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Connexion</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img" style="background-image: url(../../assets/images/amis.jpg)">
                    </div>
                    <div class="login-wrap p-4 p-md-5 mainSpace">
                  <div class="d-flex">
                      <div class="w-100">
                          <h3 class="mb-4">Se connecter</h3>
                      </div>
                  </div>

                <form [formGroup]="loginForm" (ngSubmit)="loginFormSubmit">
                    <div class="form-group mb-3">
                        <label for="id_email" class="form-label">Adresse email</label>
                <input formControlName="email" [class.is-invalid]="email.touched && email.invalid" type="email"
                class="form-control" id="id_email">
                    <div *ngIf="email.invalid && email.touched">
                        <div *ngIf="email.errors?.required" class="d-block invalid-feedback">Veuillez saisir votre email.</div>
                        <div *ngIf="email.errors?.email" class="d-block invalid-feedback">L'adresse email saisie n'est pas valide</div>
                    </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="id_Password" class="form-label">Mot de passe</label>
                <input formControlName="password" [class.is-invalid]="password.touched && password.invalid"
                type="password" class="form-control" id="id_Password">
                    <div *ngIf="password.touched && password.errors?.required" class="d-block invalid-feedback">
                    mot de passe requis.</div>
                    <div *ngIf="password.touched && password.errors?.minlength" class="d-block invalid-feedback">
                    mot de passe 8 caractères requis.</div>
                    </div>
                <div class="form-group">
                <button type="submit" class="form-control btn btn-primary rounded submit px-3" (click)="loginFormSubmit(loginForm)">Se connecter</button>
                </div>
                <!-- <div class="form-group d-md-flex">
                    <div class="w-50 text-left">
                        <label class="checkbox-wrap checkbox-primary mb-0">Se souvenir de moi
                                  <input type="checkbox" checked>
                                  <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#">Mot de passe oublié</a>
                                </div>
                </div> -->
              </form>
              <p class="text-center">Pas encore membre ? <a data-toggle="tab" routerLinkActive="active" routerLink="/register"  >S'inscrire</a></p>
            </div>
          </div>
            </div>
        </div>
    </div>
</section>