/* You can add global styles to this file, and also import other style files */
* {
    font-family: Roboto, Helvetica, sans-serif;
  }

  body{
    min-height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
  }

:root {
  --backgroundCard: rgb(239, 239, 226);
  --cardShadow: rgb(128, 127, 127);
  --likedCardshadow : rgb(224, 252, 253);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
