.ftco-section {
  margin-top: 30px;
}
.profileInfo {
  list-style-type: none;
}

.photoProfile {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  margin-top: -25px;
}

.basPage {
  height: 5em;
}

.label {
  margin-right: 5px;
}

.deleteAccount {
  margin-top: 100px;
}

.survol {
  cursor: pointer;
  border: 2px solid crimson;
}
.nombreInscrits {
  font-size: large;
  font-weight: 600;
}

.titlePhoto {
  font-weight: 500;
}

#photoLoader {
  width: 300px;
  margin-right: 10px;
}

#prenomLoader {
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}
#nameLoader {
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}
#mailLoader {
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}

.modifierInfo {
  margin-bottom: 30px;
}

@media (max-width: 499.33px) {
  .photoProfile {
    height: 120px;
    width: 120px;
  }
}
@media (max-width: 460.33px) {
  .photoProfile {
    height: 100px;
    width: 100px;
  }
}
@media (max-width: 420.33px) {
  .photoProfile {
    height: 80px;
    width: 80px;
    right: 10px;
  }
}
@media (max-width: 345.33px) {
  .photoProfile {
    // height: 80px;
    // width: 80px;
    right: 5px;
  }
}
