<section class="ftco-section">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center mb-5">
      <h2 class="heading-section text-center">
        Bonjour {{ _Prenom$ | async }} !
      </h2>
      <p>Il y a <span class="nombreInscrits">{{ nombreInscrits$ }} </span>inscrits, contactez-les !</p>
      <div class="photoProfile">
        <div class="containerPhoto" *ngIf="!_hasPhoto$">
          <img
            class="photoProfile photo"
            src="../../assets/images/profil-vide.png"
            alt="logo profile vide"
          />
        </div>
        <!-- placeholder pour si image de profile -->
        <div class="containerPhoto" *ngIf="_hasPhoto$">
          <img
            class="photoProfile"
            [src]="_PhotoProfile$"
            alt=" photo profile"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12 col-lg-10">
      <div class="wrap d-md-flex">
        <div class="login-wrap p-4 p-md-5 mainSpace">
          <div class="d-flex">
            <div class="w-100">
              <h2 class="mb-4">Mon Profile MyKin</h2>
              <h3 class="mb-4">Mettre à jour mes informations :</h3>
            </div>
          </div>
          <div class="profile">
            <ul class="profileInfo">
              <!-- <li> Nom d'utilisateur : {{ _User$ | async}}</li> -->
              <li>
                <p>Prénom: {{ _Prenom$ | async }}</p>
                <form (ngSubmit)="onSubmitPrenom()">
                  <label class="modifierInfo" for="prenomLoader">Modifiez le Prénom</label>
                  <input
                    type="text"
                    id="prenomLoader"
                    [(ngModel)]="prenomUser"
                    name="userPrenom"
                  />
                  <button type="submit">Charger le prénom</button>
                </form>
              </li>
              <li>
                <p>Nom : {{ _Nom$ | async }}</p>
                <form (ngSubmit)="onSubmitNom()">
                  <label class="modifierInfo" for="nameLoader">Modifiez le Nom</label>
                  <input
                    type="text"
                    id="nameLoader"
                    [(ngModel)]="nomUser"
                    name="userNom"
                  />
                  <button type="submit">Charger le nom</button>
                </form>
              </li>
              <li>
                <p>Email du compte : {{ _Email$ | async }}</p>
                <form (ngSubmit)="onSubmitmail()">
                  <label class="modifierInfo" for="mailLoader">Modifiez le mail de contact</label>
                  <input
                    type="email"
                    id="mailLoader"
                    [(ngModel)]="emailUser"
                    name="userNom"
                  />
                  <button type="submit">changer l'email</button>
                </form>
                
              </li>

              <li>
                <div class="photoLoader">
                  <h3 class="titlePhoto">Modifier ma photo</h3>
                  <form (ngSubmit)="onSubmitPhoto()">
                    <label class="label" for="photoLoader"
                      >Insérez l'URL de votre Avatar
                    </label>
                    <input
                      type="text"
                      id="photoLoader"
                      [(ngModel)]="photoUrl"
                      name="userPhoto"
                    />
                    <button type="submit">Charger la photo</button>
                  </form>
                </div>
              </li>
              <li>
                <app-file-upload></app-file-upload>
              </li>
              <li>
                <div class="deleteAccount">
                  <p>Supprimer mon compte</p>
                  <img
                    src="../../assets/logo/delete-account.png"
                    alt="icone delete account"
                    (mouseover)="this.survol = true"
                    (mouseout)="this.survol = false"
                    [ngClass]="{ survol: survol }"
                    (click)="deleteAccount()"
                  />
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
